html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
}
body {
  font-family: "Noto Sans TC", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  background-color: #f2f9f6;
}

.modal {
  display: flex;
  margin: auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 500px;
}

.modal-content > h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
}

.modal-content > p {
  font-size: 1.05rem;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: #1976d2;
  color: #fff;
  min-width: 64px;
  border: 0;
  border-radius: 4px;
  padding: 6px 16px;
  font-size: 0.875rem;
  line-height: 1.76;
  letter-spacing: 0.02857rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.btn:hover {
  background-color: #1565c0;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.flex-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.main-container {
  display: flex;
  align-items: stretch;
  width: 100%;
  background-color: #f2f9f6;
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

blockquote {
  font-size: 1.4em;
  width: 100%;
  margin: 1rem auto;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #78c0a8;
  line-height: 1.6;
  position: relative;
  background: #ededed;
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #78c0a8;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: "";
}

blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

h1 {
  font-size: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

li > span {
  font-weight: 700;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 20px 0;
}

li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .modal {
    padding: 10px;
    max-width: 300px;
  }

  .flex-container {
    flex-direction: column;
    align-items: center;
  }

  .wrapper {
    max-width: 400px;
  }

  blockquote {
    font-size: 1rem;
    max-width: 300px;
    margin: 1rem auto;
    padding: 0.8rem 10px 0.8rem 50px;
  }

  blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: #78c0a8;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
  }

  blockquote::after {
    content: "";
  }

  blockquote span {
    display: block;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
  }

  h1 {
    font-size: 1.6rem;
  }

  li {
    font-size: 1rem;
    margin-bottom: 5px;
  }
}
